* {
    margin: 0;
    box-sizing: border-box;
    --background-default: #200173;
    --overlay-color: #051439;
    --purple-light: #6f42c1;
    --nunito-default: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
}

html,
body {
    background-color: var(--background-default);
    height: 100dvh;
    font-family: var(--nunito-default);
}

/* Links */
.link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link:hover {
    transition: 0.5s;
    color: #e83e8c;
}

/* Generic Button */
.button--generic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: inset 4px 4px 12px #c2c2c2;
    color: var(--background-default);
    width: 13.8rem;
    height: 3.5rem;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.button--generic::after {
    padding-top: 4px;
    margin-right: -10px;
    content: url('../icons/arrow-icon.svg');
}

.button--generic:hover {
    background-color: var(--purple-light);
    transition: 0.5s ease-in-out;
    box-shadow: inset 4px 4px 12px #471b99;
    color: white;
    cursor: pointer;
}

.button--generic:hover::after {
    padding-top: 4px;
    content: url('../icons/btn-arrow-hover.svg');
}

.button--generic:hover a {
    color: white;
}

.button--generic a {
    color: var(--background-default);
    display: flex;
    align-items: center;
    gap: 16px;
}

.button--generic img {
    border-radius: 50px;
    background-color: #200173;
    fill: white;
}

/* Page Header Base*/
.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 35px 23px 50px;
    gap: 30px;
    font-size: 16px;
    transition: 0.5s;
}

.header__logo {
    padding: 0;
    text-align: center;
    min-width: 200px;
    width: 290px;
}

.header__logo img {
    width: 100%;
    image-rendering: optimizeQuality;
}

/* page header nav list */
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    transition: 0.5s;
}

.header__list {
    display: flex;
    align-items: center;
    list-style-type: disc;
    gap: 30px;
    padding: 0;
    transition: 0.5s;
}

.list__item {
    list-style-type: none;
}

.list--right {
    gap: 35px;
}

/* Hover menu*/
.hover-menu {
    position: absolute;
    background-color: var(--background-default);
    width: 100dvw;
    margin-top: 24px;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 8rem;
    padding: 3rem;
    border: 1px solid red;
}

.hover-menu__section {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 24px;
}

.hover-menu__image-container {
    width: 22rem;
}

.hover-menu__image-container img {
    margin-right: 1rem;
    width: 100%;
}

.menu__section--row {
    flex-direction: row;
    gap: 2rem;
}

.menu__section-title {
    margin-bottom: 0.5rem;
    font-size: 20px;
}

.menu__section-title--link img {
    margin-right: 1rem;
}

.menu__section-paragraph {
    margin-bottom: 2rem;
    font-size: 16px;
}

.menu__arrow-link {
    height: 2.2rem;
    width: 2.2rem;
    margin-left: 0.5rem;
}

.menu__section-feature {
    padding: 0;
}

.feature--title {
    margin-bottom: 1.8rem;
}

.feature--item {
    margin-bottom: 1.3rem;
}

/*page header hamburger*/
.hamburger__button {
    display: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.hamburger__button span {
    position: absolute;
    top: 0;
    right: 0;
    border-top: solid white 4px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.hamburger__button span:nth-child(2) {
    width: 90%;
    top: 10px;
}

.hamburger__button span:nth-child(3) {
    width: 80%;
    top: 20px;
}

/* Mobile Overlay Menu */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 1;
    transition: 0.5s;
}

.overlay__header {
    display: flex;
    justify-content: space-between;
    padding: 23px 50px;
    margin: 0;
}

.logo--overlay {
    text-align: start;
}

.logo--overlay img {
    width: 70%;
}

.hamburger--overlay {
    display: block;
}

.overlay--active {
    left: 0%;
    transition: 0.5s;
}

/* Page Header Medias*/

@media (max-width: 1200px) {

    .button--generic {
        min-width: 128px;
        width: 200px;
        padding: 4px;
        height: 3rem;
    }

    .header-wrapper {
        padding: 1rem;
        transition: 0.5s;
    }

    .header__nav {
        transition: 0.5s;
        margin-left: 5%;
        justify-content: right;
    }

    .wide-only {
        display: none;
    }

    .hamburger__button {
        display: block;
    }

    .overlay {
        display: block;
    }
}

@media (max-width: 575px) {
    .header-wrapper {
        padding: 10px;
        transition: 0.5s;
    }

    .header__button {
        display: none;
    }
}