* {
    margin: 0;
    box-sizing: border-box;
    --nunito-default: 'Nunito', sans-serif;
    --Jost-font: 'Jost', sans-serif;
    --Mulito-font: 'Mulish', sans-serif;
    --background-default: #200173;
    --overlay-color: #051439;
    --purple-light: #6f42c1;
    --purplish-blue: #6B4EE2;
    --pink: #e83e8c;
    --pink-strong: #ED1D90;
    --blue-light: #0f8bc5;
    --text-blue: #1DCBFF;
}

body {
    margin: auto;
    max-width: 2300px;
    background-color: var(--background-default);
    height: 100dvh;
    font-family: var(--nunito-default);
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*====================================
  ======== PageIntersection ==========
  ====================================
*/
.iov-animate {
    opacity: 1 !important;
    transition: 2s !important;
    transform: translateY(0px) !important;
}

.ioh-animate {
    transition: 2s !important;
    opacity: 1 !important;
}

.ioh-animate:nth-child(1) {
    transform: translate(0, 0) !important;
}

.ioh-animate:nth-child(2) {
    transform: translate(0, 0) !important;
}

/*====================================
  ============== Texts ===============
  ====================================
*/
.text--very-large {
    color: white;
    font-size: 66px;
    font-weight: 800;
    line-height: 75px;
}

.text--large {
    font-size: 40px;
    color: white;
}

.text--medium {
    font-size: 26px;
    color: white;
}

.text--normal {
    font-size: 22px;
    color: white;
}

.text--small {
    font-size: 20px;
    color: white;
}

.text--extra-small {
    font-size: 18px;
    color: white;
}

.text--pink-strong {
    color: var(--pink-strong);
    font-weight: 900;
}

.text--blue {
    color: #1DCBFF;
    font-weight: bold;
}

.text--strong {
    font-weight: 900;
}


/*====================================
  ============== Links ===============
  ====================================
*/

.link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.link:hover {
    transition: 0.3s ease-in-out;
    color: var(--pink);
}

/*====================================
  ============ Buttons ===============
  ====================================
*/
.button--generic {
    width: fit-content;
    display: flex;
    align-items: center;
    background: white;
    font-size: 16px;
    font-family: var(--nunito-default);
    border-radius: 30px;
    border: none;
    box-shadow: inset 4px 4px 12px #c2c2c2;
    color: var(--background-default);

    font-weight: 600;
    transition: 0.5s ease-in-out;
    padding: 18px 60px 18px 30px;

    background-image: url('../icons/arrow-icon.svg');
    background-repeat: no-repeat;
    background-position: 91% 51%;
}

.button--generic:hover {
    background-color: var(--purple-light);
    transition: 0.5s ease-in-out;
    box-shadow: inset 4px 4px 12px #471b99;
    color: white;
    cursor: pointer;

    background-image: url('../icons/btn-arrow-hover.svg');
}

.button--reverse-colors {
    background-color: var(--purplish-blue);
    box-shadow: inset 4px 4px 12px #471b99;
    background-image: url('../icons/btn-arrow-hover.svg');
}

.button--reverse-colors {
    color: white;
}

.button--reverse-colors:hover {
    box-shadow: inset 4px 4px 12px #c2c2c2;
    background: white;
    background-image: url('../icons/arrow-icon.svg');
    background-repeat: no-repeat;
    background-position: 91% 51%;

    color: white;
    color: var(--purplish-blue);
}

.button--schools {
    padding: 18px 55px 18px 20px;
    position: relative;
}

.button--purplish:hover {
    background-color: var(--purplish-blue);
}

.journey-btn {
    display: flex;
    align-items: center;
    border: white 1px solid;
    border-radius: 30px;
    padding: 12px 1rem;
    font-size: 16px;
    text-decoration: none;
    color: white;
    gap: 0.5rem;
}

.journey-btn img {
    width: 10%;
    min-width: 30px;
}

.journey-btn:hover {
    background: #8ed1fc;
    outline: #8ed2fc60 4px solid;
}

/*====================================
  =========== Page Header ============
  ====================================
*/

.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px 26px 50px;
    gap: 33px;
    font-size: 16px;
    transition: 0.5s;
}

.header__logo {
    padding: 0;
    text-align: center;
    width: 230px;
}

.header__logo img {
    width: 100%;
}

/*====================================
  ====== Page Header Nav List ========
  ====================================
*/
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    transition: 0.5s;
}

.header__list {
    display: flex;
    align-items: center;
    list-style-type: disc;
    gap: 27px;
    padding: 0;
    transition: 0.5s;
}

.list__item {
    list-style-type: none;
}

.list__item:hover .hover-menu__trigger-area {
    display: block;
}

.list__item:hover>.hover-menu {
    visibility: visible;
    margin: 24px auto;
    opacity: 1;
    transition: 0.5s;
    z-index: 1;
    background-color: var(--background-default);
}

.list--right {
    gap: 40px;
}

/*====================================
  ========== Hover Menu ==============
  ====================================
*/

.hover-menu {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    margin: 35px auto;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 6rem;
    padding: 3rem 3rem 1.5rem 3rem;

}

.hover-menu__trigger-area {
    position: absolute;
    display: none;
    top: 4rem;
    left: 0;
    height: 100px;
    width: 100%;
}

.hover-menu__section {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 24px;
}

.hover-menu__image-container {
    width: 22rem;
}

.hover-menu__image-container img {
    margin-right: 1rem;
    width: 100%;
}

.menu__section--row {
    flex-direction: row;
    gap: 2rem;
}

.menu__section-title {
    margin-bottom: 0.5rem;
    font-size: 20px;
}

.menu__section-title--link img {
    margin-right: 1rem;
}

.menu__section-paragraph {
    margin-bottom: 2rem;
    font-size: 16px;
}

.menu__arrow-link {
    height: 2.2rem;
    width: 2.2rem;
    margin-left: 0.5rem;
}

.menu__section-feature {
    padding: 0;
}

.feature--title {
    margin-bottom: 1.8rem;
    font-weight: bold;
}

.feature--item {
    margin-bottom: 1rem;
}

.feature-new {
    margin-left: 0.5rem;
}

/*====================================
  ====== Page Header Hamburguer ======
  ====================================
*/
.hamburger__button {
    display: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 38px;
    height: 30px;
    cursor: pointer;
}

.hamburger__button span {
    position: absolute;
    top: 1px;
    right: 0;
    border-top: solid white 4px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.hamburger__button span:nth-child(2) {
    width: 90%;
    top: 11px;
}

.hamburger__button span:nth-child(3) {
    width: 76%;
    top: 22px;
}

/*====================================
  ====== Mobile Overlay Menu =========
  ====================================
*/
.overlay {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.overlay::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.overlay__header {
    padding: 20px 30px;
    margin: 0;
}

.overlay__logo img {
    width: 220px;
}

.overlay__close-button {
    display: block;
    position: absolute;
    right: 33px;
    top: 24px;
}

.overlay__close-button span:nth-child(1) {
    position: absolute;
    top: 50%;
    width: 85%;
    transform: rotate(0);
    height: 0;
}

.overlay__close-button span:nth-child(2) {
    position: absolute;
    top: 50%;
    width: 85%;
    transform: rotate(0);
    height: 0;
}

.overlay__close-button--left.build {
    transform: rotate(135deg) !important;
    margin-top: 0px;
}

.overlay__close-button--right.build {
    transform: rotate(225deg) !important;
    margin-top: 0px;
}

.overlay--active {
    left: 0%;
}

.overlay--active .overlay__close-button {
    position: fixed;
}

.overlay__navigation {
    padding: 4px 0;
}

.overlay__navigation-item {
    border-bottom: 1px rgba(106, 78, 225, 0.21) solid;
    padding: 10px 20px;
}

.overlay__about-item {
    display: flex;
    justify-content: space-between;
}

.overlay__about-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
    color: white;
    font-size: 25px;
}

.overlay__about-dropdown {
    display: none;
    grid-auto-rows: max-content;
    grid-template-columns: 2fr 1.5fr 1fr;
    background: var(--background-default);
    gap: 6rem;
    padding: 20px;
}

.overlay__about-dropdown.overlay__about-dropdown--active {
    display: grid;
}

.overlay__about-dropdown .hover-menu__image-container {
    width: 100px;
    min-width: 100px;
}

.overlay__about-dropdown .menu__section--row {
    gap: 1rem;
}

.overlay__about-dropdown .menu__section-paragraph {
    margin-bottom: 1rem;

}

.overlay__about-dropdown .feature--item,
.overlay__about-dropdown .feature--title {
    margin-bottom: 0.7rem;
}

.link .feature-new {
    width: 40px;
}

/*====================================
  ====== Apresentation Section =======
  ====================================
*/
.apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.apresentation__header {
    width: 790px;
}

.apresentation__header-title {
    position: relative;

}

.apresentation__header-title--spaced {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 96px;
    font-style: normal;
}

.apresentation__heart-container img {
    display: flex;
    width: 110px;
    position: absolute;
    right: -10px;
    top: 5px;
    opacity: 0;
}

.apresentation__header-heart {
    transition: 0.2s ease-in-out;
}

.apresentation__try-it {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.apresentation__try-it-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 45px 0 30px 0;
}

.button--schools:hover+.apresentation__pop-up-text {
    display: block;
}

.button--schools::after {
    content: '';
    position: absolute;
    top: -50px;
    right: -25px;
    height: 45px;
    width: 45px;
    background-image: url('../icons/btn-chat-icon.svg');
    background-size: 34px;
    background-repeat: no-repeat;
}

.apresentation__pop-up-text {
    position: absolute;
    width: 280px;
    background: rgba(255, 255, 255, 24%);
    color: white;
    padding: 15px;
    border-radius: 6px;
    right: -160px;
    bottom: 90px;
    font-weight: 600;
    font-size: 14px;
    display: none;
    text-align: left;
}

.apresentation__pop-up-text img {
    position: absolute;
    bottom: 13px;
    right: 10px;
}

.apresentation__smartphones {
    display: flex;
    gap: 75px;
    padding-top: 75px;
    transform: translateY(30px);
    opacity: 0;
    transition: 2s;
}

.smartphone-image--default {
    width: 236px;
    margin: auto 0;
}

.smartphone-image--default img {
    width: 100%;
}

.smartphone-image--interative {
    width: 280px;
    position: relative;
    overflow-y: hidden;
}

.smartphone-image--interative img {
    width: 100%;
}

/*====================================
  === SmartPhone interative sound ====
  ====================================
*/
.phone-screen {
    position: absolute;
    display: block;
    top: 24%;
    left: 13%;
    width: 75%;
    overflow: hidden;
}

.phone-screen__song-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    background-color: var(--overlay-color);
    border-radius: 25px;
}

.phone-screen__song {
    position: relative;
    border: 1px #A4C3EF solid;
    width: 100%;
    height: 74px;
    border-radius: 12px;
    cursor: pointer;
    padding: 4px 10px;
    font-size: 12px;
    color: white;
    font-family: var(--Jost-font);
    overflow: hidden;
    font-weight: 500;
    background-repeat: no-repeat;
    background-position-y: 25px;
}

.phone-screen__song:hover {
    animation: waveAnimation 10s infinite ease-out;
}

@keyframes waveAnimation {
    100% {
        background-position-x: right;
    }
}

.phone-screen__song h5 {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10%;
}

.phone-screen__song b {
    margin: 0 3px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    height: 3px;
    width: 3px;
}

.phone-screen__play-button {
    position: absolute;
    top: 8%;
    right: 3%;
    font-size: 10px;
    border-radius: 30px;
    border: none;
    padding: 6px 10px;
    background-color: var(--blue-light);
    color: white;
    font-weight: 600;
    cursor: pointer;
    backdrop-filter: blur(2px);
}

.phone-screen__song:nth-child(1) {
    background-image: url('../icons/brainstorm-delight.svg');

}

.phone-screen__song:nth-child(2) {
    background-image: url('../icons/balance.svg');

}

.phone-screen__song:nth-child(3) {
    background-image: url('../icons/brain-power.svg');

}

.phone-screen__song:nth-child(4) {
    background-image: url('../icons/deep-dleep.svg');

}

.phone-screen__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: -50px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.phone-screen__video--active {
    top: 0;
    opacity: 1 !important;
    visibility: visible !important;
    transition: 0.5s;
}

.phone-screen__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--nunito-default);
    position: absolute;
    top: 2%;
    right: 2%;
    height: 31px;
    width: 31px;
    border-radius: 100%;
    border: none;
    background-color: #ED1D90;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    opacity: 0;
    visibility: hidden;
}

/*====================================
  ======= Apresentation Therapy ======
  ====================================
*/
.music-therapy {
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-inline: 6px;
    line-height: 45px;
    transform: translateY(75px);
    opacity: 0;
}

/*====================================
  ============ Journey ===============
  ====================================
*/
.journey {
    margin: 5rem auto 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
}

.journey--left-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-100px, 0);
    opacity: 0;
    transition: 2s;
}

.journey--right-side {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translate(100px, 0);
    opacity: 0;
    transition: 2s;
}

.journey__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/*====================================
  ======= Problem section ============
  ====================================
*/
.problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.problem__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 25%;
    transform: translateY(100px);
    opacity: 0;
}

.problem__video-container video {
    width: 80%;
    mix-blend-mode: lighten;
    margin-top: -5%;
    pointer-events: none;
}

.problem__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    padding-inline: 1rem;
    transform: translateY(75px);
    opacity: 0;
}


/*====================================
  ========== Robust Features =========
  ====================================
*/
.robust-features {
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    padding-inline: 10%;
    min-width: 1024px;
    max-width: 1360px;
}

.robust-features h3 {
    inline-size: 600px;
    margin: auto;
}

.robust-features__header {
    margin-bottom: 75px;
    text-align: center;
    transform: translateY(75px);
    opacity: 0;
}

.robust-features__body {
    opacity: 0;
    transform: translateY(75px);
}

.robust-features__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.robust-features__mobile {
    display: none;
}

.robust-features__list__item {
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 0 1rem 1rem 1rem;
}

.robust-features__list__item__blue-block {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 5px;
    background-color: #1DCBFF;
    border-radius: 30px;
    transition: 0.7s;
}

.robust-features__list__item__blue-block.blue-active {
    width: 100%;
    transition: 0.7s;
}

.robust-features__container {
    display: none;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 0 28px 0;
}

.robust-features__container--active {
    display: grid;
}

.robust-features__container__features {
    margin-left: 1rem;
}

.robust-features__container__features__content {
    display: flex;
    align-items: start;
    gap: 2rem;
    margin: 2.5rem 0;
}

.robust-features__container__features__content-title {
    gap: 0.6rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.robust-features__container__features__content-title__popup-trigger {
    position: relative;
}

.features__content-title__popup {
    display: none;
    min-width: 257px;
    width: 280px;
    padding: 19px 15px 19px 18px;
    background-color: rgba(255, 255, 255);
    position: absolute;
    top: 50px;
    right: -50px;
    color: var(--background-default);
    border-radius: 6px;
    font-family: var(--Mulito-font);
    font-weight: 300;
    font-size: 15px;
}

.features__content-title__popup img {
    position: absolute;
    right: 1rem;
    top: 12px;
}

.features__content-title__popup:first-of-type p {
    margin: 1rem 0;
}

.robust-features__container__features__content-title__popup-trigger:hover .features__content-title__popup {
    display: block;
}

.robust-features__container__features__content-title__popup-trigger a {
    transition: 0.7s;
    color: white;
    text-decoration: none;
}

.robust-features__container__features__content-title__popup-trigger a:hover {
    transition: 0.7s;
    color: var(--text-blue);
    cursor: pointer;
}

.robust-features__container__features__content-title__popup-trigger a::after {
    content: "";
    background-image: url('../icons/icons-squiggly-line.png');
    height: 7px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    background-repeat: repeat;
}

.robust-features__container__image-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-inline: 1rem 0.5rem;
    gap: 1.8rem;
}

.robust-features__container__image-wrapper div {
    width: 200px;
}

.robust-features__container__image-wrapper img {
    width: 100%;
}


/*====================================
  ========== Media Query =============
  ====================================
*/

@media (max-width: 1200px) {

    /*Text*/
    .text--very-large {
        font-size: 50px;
        line-height: 56px;
    }

    .text--large {
        font-size: 30px;
    }

    .text--medium {
        font-size: 24px;
    }

    .text--normal {
        font-size: 22px;
    }

    /*Buttons*/
    .button--generic {
        height: 50px;
        font-size: 15px;
        padding: 20px 50px 20px 20px;

        background-repeat: no-repeat;
        background-size: 22px;
    }

    .button--schools:hover {
        background-size: 22px;
    }

    .journey-btn {
        font-size: 15px;
    }

    /*====================================
    ========== Header Media =============
    ====================================*/
    .header-wrapper {
        padding: 15px 30px;
        transition: 0.5s;
    }

    .header__logo {
        display: flex;
        align-items: center;
        padding: 0;
        text-align: center;
        min-width: 200px;
        width: 180px;
    }

    .header__nav {
        transition: 0.5s;
        margin-left: 5%;
        justify-content: right;
    }

    .wide-only {
        display: none;
    }

    .hamburger__button {
        display: block;
    }

    .overlay {
        display: block;
    }

    /*==================================
    ========== Overlay Media ===========
    ====================================
    */
    .overlay__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 26px 30px 25px 20px;
        margin: 0;
    }

    .overlay__close-button {
        right: 33px;
        top: 23px;
    }

    .overlay__close-button--left {
        position: absolute;
        width: 85%;
        height: 0;
        transition: 1s;
        margin-top: 30px;
    }

    .overlay__close-button--right {
        position: absolute;
        width: 85%;
        height: 0;
        transition: 1s;
        margin-top: 30px;
    }

    .overlay--active {
        left: 0%;
    }

    .list--right {
        gap: 20px;
    }

    /*====================================
    ==== Apresentation Section Media =====
    ====================================*/
    .apresentation__header {
        width: 620px;
    }

    .apresentation__header-title img {
        width: 72px;
        right: 37px;
        top: 0px;
    }

    .apresentation__header-title--spaced {
        padding-right: 100px;
    }

    .apresentation__try-it-buttons {
        margin: 30px 0;
    }

    .apresentation__pop-up-text {
        position: absolute;
        width: 240px;
        right: -185px;
        bottom: 70px;
    }

    .apresentation__smartphones {
        padding-top: 45px;
        gap: 45px;
    }

    .smartphone-image--default {
        width: 190px;
    }

    .smartphone-image--interative {
        width: 276px;
    }

    /*====================================
    ==== Phone interative sound Media ====
    ====================================*/
    .phone-screen {
        left: 8%;
        width: 84%;
    }

    .phone-screen__song {
        height: 65px;
    }

    .phone-screen__song h5 {
        margin-bottom: 5%;
    }

    .phone-screen__play-button {
        font-size: 7px;
        padding: 6px 8px;
    }

    /*journey*/
    .journey {
        grid-template-columns: 1fr 1.5fr;
        width: 95%;
    }

    /*Robust features*/
    .robust-features {
        min-width: 0;
        padding-inline: 20px;
    }
}

@media(max-width: 1025px) {

    /*Text*/
    .text--very-large {
        font-size: 42px;
        line-height: 54px;
    }

    .text--large {
        font-size: 26px;
    }

    .text--medium {
        font-size: 22px;
    }

    .text--normal {
        font-size: 20px;
    }

    .text--small {
        font-size: 18px;
    }

    .text--extra-small {
        font-size: 16px;
    }


    /*header overlay*/
    .overlay__about-dropdown.overlay__about-dropdown--active {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .overlay__about-dropdown .hover-menu__section:nth-child(2) {
        border-bottom: 1px #2a3489 solid;
        border-top: 1px #2a3489 solid;
        padding: 1rem 0;
    }

    .overlay__about-dropdown .menu__section--row {
        inline-size: 400px;
    }

    /*Apresentation Section*/
    .apresentation__header {
        width: 536px;
    }

    .apresentation__heart-container img {
        width: 70px;
        right: 30px;
        top: 0;
    }

    .apresentation__try-it-buttons {
        gap: 15px;
    }

    .apresentation__pop-up-text {
        position: absolute;
        width: 240px;
        right: -110px;
        bottom: -30px;
    }

    .apresentation__smartphones {
        margin-top: 0px;
        gap: 16px;
    }

    /*SmartPhone*/
    .smartphone-image--default {
        width: 193px;
    }

    .smartphone-image--interative {
        width: 235px;
    }

    .phone-screen {
        left: 10%;
        width: 80%;
    }

    .phone-screen__song {
        height: 58px;
        font-size: 10px;
        padding-right: 0px;
        padding-left: 5px;
    }

    /*journey*/

    .journey {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .journey br {
        display: none;
    }

    /*problems*/
    .problem__header {
        padding-inline: 5%;
    }

    /*robust-features*/
    .robust-features {
        min-width: 0;
        padding-inline: 30px;
    }

    .robust-features__list {
        display: none;
    }

    .robust-features__mobile {
        display: block;
    }

    .robust-features__mobile__selected {
        background-color: #ED1D90;
        padding: 1rem;
        border-radius: 4px 4px 0 0;
        font-weight: bold;
        cursor: pointer;
    }

    .robust-features__mobile__list {
        display: grid;
        grid-template-rows: 0fr;
        transition: 0.7s;
    }

    .robust-features__mobile__list>ul {
        overflow: hidden;
        padding: 0;
    }

    .robust-features__mobile__list--open {
        grid-template-rows: 1fr;
        transition: 0.7s;
    }

    .robust-features__mobile__list__item {
        list-style-type: none;
        border-inline: 1px solid white;
        border-bottom: 1px solid white;
        padding: 0.9rem;
        font-weight: bold;
        transition: 0.5ms;
        cursor: pointer;
        overflow: hidden;
    }

    .robust-features__mobile__list__item:last-child {
        border-radius: 0 0 8px 8px;
    }

    .robust-features__mobile__list__item--active {
        display: none;
    }

    .robust-features__container {
        grid-template-columns: 75% auto;
    }

    .robust-features__container__features {
        margin: 0;
    }

    .robust-features__container__features__content {
        margin: 0.8rem 0;
    }

    .robust-features__container__features__content-title {
        font-size: 20px;
        font-weight: bold;
    }

    .robust-features__container__image-wrapper {
        flex-wrap: wrap;
        gap: 4px;
    }

    .robust-features__container__image-wrapper div {
        width: 100px;
    }
}

@media (max-width: 770px) {

    /*Text*/
    .text--very-large {
        font-size: 35px;
        line-height: 43px;
    }

    .text--medium {
        font-size: 20px;
    }

    .text--extra-small {
        font-size: 15px;
    }

    /*Buttons*/
    .button--generic {
        font-size: 14px;
        background-size: 20px;
        background-position: 93% 50%;
    }

    .button--generic:hover {
        background-position: 93% 50%;
    }

    .button--schools {
        min-width: 196px;
    }

    .button--schools::after {
        top: -30px;
        width: 30px;
        height: 40px;
        background-size: 26px;
    }

    /*Header*/
    .header-wrapper {
        padding: 12px 16px;
        transition: 0.5s;
    }

    .list--right {
        gap: 10px;
    }

    /*Header overlay*/
    .overlay__close-button {
        right: 20px;
        top: 20px;
    }

    .overlay__about-dropdown .menu__section--row {
        inline-size: auto;
    }

    /*Apresentation Section*/
    .apresentation__header {
        width: 470px;
        margin-bottom: 0;
    }

    .apresentation__heart-container img {
        width: 52px;
        right: 55px;
    }

    .apresentation__try-it-buttons {
        flex-wrap: wrap;
    }

    .apresentation__pop-up-text {
        margin: 0 auto;
        position: relative;
        width: 280px;
        top: 0;
        right: auto;
    }

    .product-hunt--top {
        display: none;
    }

    /*Smartphone*/
    .apresentation__smartphones {
        gap: 30px;
        padding-top: 12px;
    }

    .smartphone-image--default {
        width: 140px;
    }

    .smartphone-image--interative {
        width: 210px;
    }

    .phone-screen__song {
        height: 52px;
        font-size: 8px;
        background-size: 250px;
        background-position-y: 20px;
    }

    .phone-screen__song h5 {
        font-size: 9px;
        margin-bottom: 5%;
    }

    .robust-features {
        padding-inline: 1rem;
    }

    /*robust features*/
    .robust-features h3 {
        inline-size: auto;
    }
}

@media (max-width: 575px) {

    /*text*/
    .text--very-large {
        font-size: 32px;
    }

    .text--normal {
        font-size: 16px;
    }

    /*Buttons*/
    .journey-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
    }

    .journey-btn img {
        width: 12%;
    }

    /*Header*/
    .header-wrapper {
        justify-content: space-between;
        padding: 14px;
        transition: 0.5s;
        gap: 0;
    }

    .header__button {
        display: none;
    }

    /*overlay */
    .overlay__close-button {
        right: 18px;
        top: 16px;
    }

    .overlay__about-dropdown .menu__section--row {
        flex-wrap: wrap;
    }

    /* apresentation */

    .apresentation {
        margin-top: 42px;
    }

    .apresentation__header {
        width: 300px;
    }

    .apresentation__header-title {
        width: 250px;
        margin: auto;
        text-align: center;
    }

    .apresentation__heart-container img {
        right: 84px;
        top: 41px;
    }

    .apresentation__header-title--spaced {
        display: inline;
        margin-left: 60px;
        padding: 0;
    }

    .apresentation__try-it-buttons {
        gap: 20px;
    }

    .apresentation__smartphones {
        padding-top: 12px;
        justify-content: space-between;
        width: 95%;
        gap: 8px;
    }

    .smartphone-image--default {
        width: 76px;
    }

    .smartphone-image--interative {
        width: 160px;
    }

    /*smartphone*/
    .phone-screen {
        width: 88%;
        left: 6%;
    }

    .phone-screen__song-container {
        gap: 8px;
    }

    .phone-screen__song {
        font-size: 5px;
        height: 37px;
    }

    .phone-screen__play-button {
        top: 10%;
        font-size: 6px;
        padding: 3px 4px;
    }

    /*Music therapy*/
    .music-therapy {
        line-height: 31px;
    }

    .robust-features__container {
        grid-template-columns: 1fr;
    }

    .robust-features__container__image-wrapper {
        justify-content: center;
        gap: 1rem;
    }
}

@media (max-width: 395px) {
    .apresentation__try-it-buttons {
        flex-direction: column;
    }
}